{{ partial "header" . }}

<main>

    {{ partial "post-header" . }}

    <br> <div class="text-justify">{{ .Content }}</div>

    <!-- related posts with the same tags -->
    {{ $related := first 3 (where (where (where .Site.Pages.ByDate.Reverse ".Type" "==" "post") ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}

    {{ if $related }}

        <h4 class="page-header">Related</h4>

        {{ range $related }} {{ partial "list-item" . }} {{ end }}

    {{ end }}

    {{ with .Site.Params.GithubRepo }}
        <h4 class="page-header">Comments</h4>

        <script src="https://utteranc.es/client.js"
                repo="{{ . }}"
                issue-term="pathname"
                theme="github-light"
                crossorigin="anonymous"
                async>
        </script>
    {{ end }}

</main>

{{ partial "footer.html" . }}
