<div class="col-xs-12 col-sm-6 col-md-4 masonry-item">
  <div class="box-masonry">

    {{ $.Scratch.Set "link" .RelPermalink }}
    {{ with .Params.repo }}
        {{ $repoOwner := default $.Site.Params.githubUsername $.Params.repoOwner }}
        {{ printf "https://github.com/%s/%s/" $repoOwner . | $.Scratch.Set "link" }}
    {{ end }}
    {{ with .Params.link }} {{ $.Scratch.Set "link" . }} {{ end }}

    {{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006") | $.Scratch.Set "subtitle" }}
    {{ with .Description }} {{ $.Scratch.Set "subtitle" . }} {{ end }}

    {{ if and (isset .Params "image") .Params.image }}
    {{ if eq .Params.showonlyimage true }}
      <a href="{{ .Scratch.Get "link" }}" title="" class="box-masonry-image with-hover-overlay">
    {{ else }}
      <a href="{{ .Scratch.Get "link" }}" title="" class="box-masonry-image with-hover-overlay with-hover-icon">
    {{ end }}
        <img src="{{.Site.BaseURL}}{{ .Params.image }}" alt="" class="img-responsive">
      </a>
    {{ end }}
    {{ if eq .Params.showonlyimage true }}
      <div class="box-masonry-hover-text-header">
    {{ else }}
      <div class="box-masonry-text">
    {{ end }}
        <h4><a href="{{ .Scratch.Get "link" }}">{{ .Title }}</a></h4>
        <h5>{{ $.Scratch.Get "subtitle" }}</h5>
        <div class="box-masonry-description">
        {{ with .Params.tags }}
          {{ range . }}
            <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}"><kbd class="item-tag">{{ . }}</kbd></a>
          {{ end }}
        {{end}}
        </div>
      </div>
  </div>
</div>
